@import './code-util.scss';

@import './comet.scss';
@import './skull.scss';
@import './fox.scss';
@import './lightning.scss';
@import './ice-cream.scss';

$text: var(--text);
$background: var(--background);
$border: var(--border);
$code-background: var(--code-background);
$code-text: var(--code-text);
$accent: var(--accent);

// setting root to black prevent flashing of a default theme, or white
:root {
    --text: black;
    --background: black;
    --border: black;
    --code-background: black;
    --code-text: black;
    --accent: black;
}

p {
    color: $accent;
}

.libre-text p {
    color: $text;
}

code,
pre > code {
    background: $code-background;
    border: $border;
}

body {
    background: $background;
    color: $text;
}
