@import './code-util.scss';

@import './comet.scss';
@import './skull.scss';
@import './fox.scss';
@import './lightning.scss';

$text: var(--text);
$background: var(--background);
$border: var(--border);
$code-background: var(--code-background);
$code-text: var(--code-text);
$accent: var(--accent);

// set default theme

:root,
html.theme-fox {
    @extend %theme-fox;
}

html.theme-skull {
    @extend %theme-skull;
}

p {
    color: $accent;
}

code,
pre > code {
    background: $code-background;
    border: $border;
}

body {
    background: $background;
    color: $text;
}
