%theme-skull {
    --text: #ff101f;
    --background: #353535;
    --border: #f1f5f2;
    --code-background: #000000;
    --code-text: #ff101f;
    --accent: #b2b2b2;
}

html.theme-skull {
    @extend %theme-skull;

    pre > code {
        @include code-highlight-lighten(#ff101f)
    }
}
