
.menu {
    display: flex;
    width: calc(100% - 48px);
    margin: 12px auto 0;
    padding: 12px 6px;
    height: 88px;
    transition: opacity .5s ease-in-out;
    justify-content: space-between;
    align-items: center;
}

.menu-right,
.menu-left {
    display: flex;
    align-items: center;
    height: 100%;

    > button {
        padding: 6px;
        appearance: none;
        border: none;
        background: none;
        // background: white;
        border-radius: 290486px;
        width: 76px;
        height: 76px;
        margin: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        > svg {
            height: 58px;
            width: 58px;
        }
    }
}

.menu:not(:hover) {
    opacity: 0;
}

.menu {
    .libre-icon svg {
        height: 58px;
        width: 58px;
    }
}

.menu-right {
     &:not(:empty) {
        border: 1px solid $border;
        border-radius: 290486px;
    }
}